* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container{
    width: 100%;
    height: 178px;
    background-color: rgba(0, 96, 231, 0.653);
    background-image: url('img/pattern.png');
}

#logo{
    height: 37%;
    width: auto;
    margin-top: 90px;
    margin-left: 10px;
}